*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(203, 207, 194);
}

.container{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    background: rgb(252, 173, 144);
    padding: 20px;
    margin: 10px;
    gap: 20px;
}

.btn{
    width: 120px;
    height: auto;
    padding: 4px;
    margin: 2px;
    background: yellow;
}

.list{
    list-style: none;
    padding: 3px;
}

.list li{
    padding: 2px;
    margin: 1px;
}