*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    color: black;
    line-height: 1.5;
}
/*========== NAVBAR ==========*/
header{
    background-color: aliceblue;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    transition: all 0.3s ease;
    z-index: 1000;
}


.navbar.scrolled {
    height: 60px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.logo{
    font-size: 25px;
    font-weight: bold;
    color: rgb(92, 33, 33);
}

.logo a{
    text-decoration: none;
    color: #e63946;
    position: relative;

}
.menu{
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    color: #000000;
    position: relative;
    font-weight: bold;
    font-size: 16px;
}

.menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: rgb(230, 31, 17);
    transition: 0.3s;
}

.menu a:hover::after{
    width: 100%;
}

.right-section{
    display: flex;
    align-items: center;
    gap: 25px;
}

.search-box input{
    padding: 6px 15px;
}

.login-btn{
    padding: 6px 15px;
    border: none;
    font-weight: bold;
    background: #e63946;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
}

.login-btn:hover{
    background: wheat;
    color: #e63946;
    transform: translate(-2px);
}

.cart{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.cart a{
    text-decoration: none;
}

.badge{
    position: absolute;
    top: -9px;
    right: -12px;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    padding: 2px 7px;
    border-radius: 11px 12px;
    background: #e63946;
}

.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/*=========== MOBILE SIDEBAR ==========*/

.sidebar{
    position: fixed;
    left: -270px;
    top: 0;
    width: 240px;
    height: 100%;
    background: wheat;
    padding: 90px 25px;
    transform: 0.3s;
    box-shadow: 5px 0 20px rgba(0,0,0,0.1);
    z-index: 1001;
}
.sidebar.active {
    left: 0;
}
.mobilebar{
    list-style: none;
    gap: 30px;
}

.mobilebar a{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
}

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    display: none;
    z-index: 1000;  
}

.overlay.active{
    display: block;
}

/*============= RESPONSIVE ===============*/

@media(max-width:1023px){
    .menu{
        display: none;
    }
    .search-box{
        display: none;
    }
    .login-btn{
        display: none;
    }
    .hamburger{
        display: block;
    }
}

@media(max-width: 768px){
    .right-section{
        gap: 10px;
    }
    .cart{
        display: none;
    }
}
